{% extends 'core/base.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Welcome Page{% endblock %}</title>
    {% block htmlhead %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'index.css' %}">
    {% endblock htmlhead %}
</head>
<body>
    {% block content %}
    <a class="weatherwidget-io" href="https://forecast7.com/en/n6d92107d62/bandung/" data-label_1="BANDUNG" data-label_2="WEATHER" data-icons="Climacons" data-theme="original" data-basecolor="#7b1e1e" >BANDUNG WEATHER</a>
<script>
!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src='https://weatherwidget.io/js/widget.min.js';fjs.parentNode.insertBefore(js,fjs);}}(document,'script','weatherwidget-io-js');
</script>

    

<div id="carouselExample" class="carousel slide">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://akcdn.detik.net.id/visual/2023/11/07/kevin-sanjaya-sukamuljorahmat-hidayat-6_169.jpeg?w=650&q=90" style="filter: brightness(60%);" class="d-block w-100" width="1350" height="500">
      <center><h1 style="position:absolute; left:0px; width: 100%; top: 50px; color: maroon; margin-top: 300px; font-size: 32px;">Hasil Kumamoto Japan Masters: Kevin/Rahmat Melangkah ke Babak Utama</h1></center>
      <center><h1 style="position:absolute; left:0px; width: 100%; top: 50px; color: white; margin-top: 350px; font-size: 13px;">Presiden Iran, Ebrahim Raisi, menyerukan untuk mengembargo minyak Israel saat konferensi tingkat tinggi (KTT) luar biasa antara Liga Arab dan Organisasi Kerja sama Islam (OKI) di Riyadh, Arab Saudi pada Sabtu (11/11).</h1></center>
    </div>
    <div class="carousel-item">
      <img src="https://akcdn.detik.net.id/visual/2023/11/13/amar-brkic-1_169.jpeg?w=650&q=90" style="filter: brightness(60%);"  class="d-block w-100" width="1350" height="500">
      <center><h1 style="position:absolute; left:0px; width: 100%; top: 50px; color: maroon; margin-top: 300px; font-size: 32px;">Top 3 Sports: Indonesia Seri Lawan Panama, Pelatih Lawan Menyesal</h1></center>
      <center><h1 style="position:absolute; left:0px; width: 100%; top: 50px; color: white; margin-top: 350px; font-size: 13px;">Berita-berita mengenai kiprah Timnas Indonesia U-17 di Piala Dunia U-17 2023 menjadi incaran pembaca CNNIndonesia.com dalam 24 jam terakhir.(11/11).</h1></center>
    </div>
    <div class="carousel-item">
      <img src="https://akcdn.detik.net.id/visual/2017/10/02/42778b33-3369-42d0-8de6-c2a291a339aa_169.jpg?w=650&q=90" style="filter: brightness(60%);"  class="d-block w-100" width="1350" height="500">
      <center><h1 style="position:absolute; left:0px; width: 100%; top: 50px; color: maroon; margin-top: 300px; font-size: 32px;">Fabregas Latih Como, Klub Serie B Italia Milik Perusahaan Indonesia</h1></center>
      <center><h1 style="position:absolute; left:0px; width: 100%; top: 50px; color: white; margin-top: 350px; font-size: 13px;">Mantan gelandang timnas Spanyol Cesc Fabregas resmi menjadi pelatih FC Como 1907, klub penghuni Serie B Italia yang dimiliki sebuah grup perusahaan asal Indonesia.</h1></center>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

              <br><br><br><br>

              <div class="container text-center">
                <div class="row">
                  <div class="col">
                    <img src="https://blue.kumparan.com/image/upload/fl_progressive,fl_lossy,c_fill,q_auto:best,w_640/v1634025439/01hemg1jbstszr0hjp1h152j2a.jpg" style="filter: brightness(60%);" class="d-block w-30" alt="">
                  </div>
                  <div class="col">
                    <br><br>
                    <H3 class="fw-bold" style="font-family: sans-serif;">Berita Terkini</H3>
                    <p style="font-family: sans-serif;">Jalan cepat merupakan sebuah olahraga yang secara peraturan tidak diperkenankan langkah melayang atau membuat lompatan. Kaki pejalan cepat harus tetap di atas tanah atau sekurang-kurangnya satu kaki harus selalu menginjak tanah. Sebutkan prinsip-prinsip dasar jalan cepat!Kebanyakan orang pasti mengetahui lari dan jalan cepat, tetapi sulit untuk membedakannya. Sesungguhnya lari adalah gerakan maju dengan cepat dan ada ketika di mana kaki melayang di atas tanah. Sementara jalan cepat adalah bergerak maju dengan langkah kaki yang dilakukan sedemikian rupa yang satu kaki selalu berhubungan dengan tanah.</p>
                  </div>
                </div>
              </div>
            
              <br><br><br>

              <h3 class="fw-bold" style="text-align: center; font-family: sans-serif;">Berita Hangat</h3>

              <br><br>

              <div class="container text-center">
                <div class="row">
                    {% for berita in beritas %}
                  <div class="col">
                        <div class="card" style="width: 20rem;">
                            <img src="{{berita.gambar.url}}" class="card-img-top" alt="...">
                            <div class="card-body">
                              <p>{{berita.kategori}}</p>
                              <h5 class="card-title" style="margin-top: -10px;">{{berita.judul}}</h5>
                              <a href="{% url 'news:isi' berita.id %}" class="btn btn-danger">Selengkapnya</a>
                            </div>
                          </div>
                    </div>
                    {% endfor %}
                </div>
              </div>

              <br><br><br>

                <!-- Site footer -->
    <footer class="site-footer">
        <div class="container">
          <div class="row">
            <div class="col-sm-12 col-md-6">
              <h6>About</h6>
              <p class="text-justify">Scanfcode.com <i>CODE WANTS TO BE SIMPLE </i> is an initiative  to help the upcoming programmers with the code. Scanfcode focuses on providing the most efficient code or snippets as the code wants to be simple. We will help programmers build up concepts in different programming languages that include C, C++, Java, HTML, CSS, Bootstrap, JavaScript, PHP, Android, SQL and Algorithm.</p>
            </div>
  
            <div class="col-xs-6 col-md-3">
              <h6>Categories</h6>
              <ul class="footer-links">
                <li><a href="http://scanfcode.com/category/c-language/">C</a></li>
                <li><a href="http://scanfcode.com/category/front-end-development/">UI Design</a></li>
                <li><a href="http://scanfcode.com/category/back-end-development/">PHP</a></li>
                <li><a href="http://scanfcode.com/category/java-programming-language/">Java</a></li>
                <li><a href="http://scanfcode.com/category/android/">Android</a></li>
                <li><a href="http://scanfcode.com/category/templates/">Templates</a></li>
              </ul>
            </div>
  
            <div class="col-xs-6 col-md-3">
              <h6>Quick Links</h6>
              <ul class="footer-links">
                <li><a href="http://scanfcode.com/about/">About Us</a></li>
                <li><a href="http://scanfcode.com/contact/">Contact Us</a></li>
                <li><a href="http://scanfcode.com/contribute-at-scanfcode/">Contribute</a></li>
                <li><a href="http://scanfcode.com/privacy-policy/">Privacy Policy</a></li>
                <li><a href="http://scanfcode.com/sitemap/">Sitemap</a></li>
              </ul>
            </div>
          </div>
          <hr>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-md-8 col-sm-6 col-xs-12">
              <p class="copyright-text">Copyright &copy; 2017 All Rights Reserved by 
           <a href="#">Scanfcode</a>.
              </p>
            </div>
  
            <div class="col-md-4 col-sm-6 col-xs-12">
              <ul class="social-icons">
                <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
                <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>   
              </ul>
            </div>
          </div>
        </div>
  </footer>

    {% endblock %}
</body>
</html>